DEBUG=True
SECRET_KEY=votre_cle_secrete_ultra_secure
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tennis_db
GOOGLE_CLIENT_ID=project-id.apps.googleusercontent.com
CORS_ALLOWED_ORIGINS=http://localhost:5173
